<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abfactory.proxsensorreset"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.abfactory.proxsensorreset.ProxSensorReset"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SettingsActivity" 
            android:label="@string/settings_activity"
            android:parentActivityName="com.abfactory.proxsensorreset.ProxSensorReset"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">            
        </activity>
        
        <activity android:name=".ResetFlowPhaseOneActivity" 
            android:label="@string/calibration_process"
            android:parentActivityName="com.abfactory.proxsensorreset.ProxSensorReset"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">            
        </activity>
        
        <activity android:name=".ResetFlowPhaseTwoActivity" 
            android:label="@string/calibration_process"
            android:parentActivityName="com.abfactory.proxsensorreset.ResetFlowPhaseOneActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop">            
        </activity>
        
        <activity android:name=".ResetFlowPhaseThreeActivity" 
            android:label="@string/calibration_process"
            android:parentActivityName="com.abfactory.proxsensorreset.ResetFlowPhaseTwoActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">            
        </activity>
        
        <activity android:name=".CalibrationsHistoryActivity" 
            android:label="@string/calibration_history"
            android:parentActivityName="com.abfactory.proxsensorreset.SettingsActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">    
        </activity>
        
        <activity android:name=".MoreInfoActivity" 
            android:label="@string/more_info"
            android:parentActivityName="com.abfactory.proxsensorreset.ProxSensorReset"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">    
        </activity>
        
        <activity android:name=".SupportUsActivity" 
            android:label="@string/give_me_a_beer"
            android:parentActivityName="com.abfactory.proxsensorreset.ProxSensorReset"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">    
        </activity>
        
    </application>

</manifest>